
# Verification Status

The verification status. One of the following:

`"VERIFIED"`: The information was successfully verified.

`"UNVERIFIED"`: The verification has not yet been performed.

`"NEEDS_INFO"`: The verification was attempted but could not be completed due to missing information.

"`UNABLE_TO_VERIFY`": The verification was performed and the information could not be verified.

`"UNKNOWN"`: The verification status is unknown.

*This model accepts additional fields of type object.*

## Enumeration

`VerificationStatus`

## Fields

| Name |
|  --- |
| `Verified` |
| `Unverified` |
| `NeedsInfo` |
| `UnableToVerify` |
| `Unknown` |

