// <copyright file="ApplicationApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Exceptions;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// ApplicationApi.
    /// </summary>
    public class ApplicationApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ApplicationApi"/> class.
        /// </summary>
        internal ApplicationApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Allows financial institutions to retrieve information about Plaid clients for the purpose of building control-tower experiences.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ApplicationGetResponse response from the API call.</returns>
        public ApiResponse<Models.ApplicationGetResponse> ApplicationGet(
                Models.ApplicationGetRequest body)
            => CoreHelper.RunTask(ApplicationGetAsync(body));

        /// <summary>
        /// Allows financial institutions to retrieve information about Plaid clients for the purpose of building control-tower experiences.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ApplicationGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ApplicationGetResponse>> ApplicationGetAsync(
                Models.ApplicationGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ApplicationGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/application/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}