// <copyright file="AuthApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Exceptions;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// AuthApi.
    /// </summary>
    public class AuthApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AuthApi"/> class.
        /// </summary>
        internal AuthApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking and savings accounts, along with high-level account data and balances when available.
        /// Note: This request may take some time to complete if `auth` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.
        /// Also note that `/auth/get` will not return data for any new accounts opened after the Item was created. To obtain data for new accounts, create a new Item.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.AuthGetResponse response from the API call.</returns>
        public ApiResponse<Models.AuthGetResponse> AuthGet(
                Models.AuthGetRequest body)
            => CoreHelper.RunTask(AuthGetAsync(body));

        /// <summary>
        /// The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking and savings accounts, along with high-level account data and balances when available.
        /// Note: This request may take some time to complete if `auth` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.
        /// Also note that `/auth/get` will not return data for any new accounts opened after the Item was created. To obtain data for new accounts, create a new Item.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AuthGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.AuthGetResponse>> AuthGetAsync(
                Models.AuthGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AuthGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/auth/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Default error", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}