// <copyright file="BankTransferApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Exceptions;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// BankTransferApi.
    /// </summary>
    public class BankTransferApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="BankTransferApi"/> class.
        /// </summary>
        internal BankTransferApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Use the `/bank_transfer/cancel` endpoint to cancel a bank transfer.  A transfer is eligible for cancelation if the `cancellable` property returned by `/bank_transfer/get` is `true`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferCancelResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferCancelResponse> BankTransferCancel(
                Models.BankTransferCancelRequest body)
            => CoreHelper.RunTask(BankTransferCancelAsync(body));

        /// <summary>
        /// Use the `/bank_transfer/cancel` endpoint to cancel a bank transfer.  A transfer is eligible for cancelation if the `cancellable` property returned by `/bank_transfer/get` is `true`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferCancelResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferCancelResponse>> BankTransferCancelAsync(
                Models.BankTransferCancelRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferCancelResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/cancel")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/bank_transfer/sweep/get` endpoint fetches information about the sweep corresponding to the given `sweep_id`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferSweepGetResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferSweepGetResponse> BankTransferSweepGet(
                Models.BankTransferSweepGetRequest body)
            => CoreHelper.RunTask(BankTransferSweepGetAsync(body));

        /// <summary>
        /// The `/bank_transfer/sweep/get` endpoint fetches information about the sweep corresponding to the given `sweep_id`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferSweepGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferSweepGetResponse>> BankTransferSweepGetAsync(
                Models.BankTransferSweepGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferSweepGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/sweep/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the `/bank_transfer/list` endpoint to see a list of all your bank transfers and their statuses. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired bank transfers.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferListResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferListResponse> BankTransferList(
                Models.BankTransferListRequest body)
            => CoreHelper.RunTask(BankTransferListAsync(body));

        /// <summary>
        /// Use the `/bank_transfer/list` endpoint to see a list of all your bank transfers and their statuses. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired bank transfers.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferListResponse>> BankTransferListAsync(
                Models.BankTransferListRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// `/bank_transfer/event/sync` allows you to request up to the next 25 bank transfer events that happened after a specific `event_id`. Use the `/bank_transfer/event/sync` endpoint to guarantee you have seen all bank transfer events.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferEventSyncResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferEventSyncResponse> BankTransferEventSync(
                Models.BankTransferEventSyncRequest body)
            => CoreHelper.RunTask(BankTransferEventSyncAsync(body));

        /// <summary>
        /// `/bank_transfer/event/sync` allows you to request up to the next 25 bank transfer events that happened after a specific `event_id`. Use the `/bank_transfer/event/sync` endpoint to guarantee you have seen all bank transfer events.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferEventSyncResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferEventSyncResponse>> BankTransferEventSyncAsync(
                Models.BankTransferEventSyncRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferEventSyncResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/event/sync")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// As an alternative to adding Items via Link, you can also use the `/bank_transfer/migrate_account` endpoint to migrate known account and routing numbers to Plaid Items.  Note that Items created in this way are not compatible with endpoints for other products, such as `/accounts/balance/get`, and can only be used with Bank Transfer endpoints.  If you require access to other endpoints, create the Item through Link instead.  Access to `/bank_transfer/migrate_account` is not enabled by default; to obtain access, contact your Plaid Account Manager.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferMigrateAccountResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferMigrateAccountResponse> BankTransferMigrateAccount(
                Models.BankTransferMigrateAccountRequest body)
            => CoreHelper.RunTask(BankTransferMigrateAccountAsync(body));

        /// <summary>
        /// As an alternative to adding Items via Link, you can also use the `/bank_transfer/migrate_account` endpoint to migrate known account and routing numbers to Plaid Items.  Note that Items created in this way are not compatible with endpoints for other products, such as `/accounts/balance/get`, and can only be used with Bank Transfer endpoints.  If you require access to other endpoints, create the Item through Link instead.  Access to `/bank_transfer/migrate_account` is not enabled by default; to obtain access, contact your Plaid Account Manager.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferMigrateAccountResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferMigrateAccountResponse>> BankTransferMigrateAccountAsync(
                Models.BankTransferMigrateAccountRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferMigrateAccountResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/migrate_account")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the `/bank_transfer/create` endpoint to initiate a new bank transfer.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferCreateResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferCreateResponse> BankTransferCreate(
                Models.BankTransferCreateRequest body)
            => CoreHelper.RunTask(BankTransferCreateAsync(body));

        /// <summary>
        /// Use the `/bank_transfer/create` endpoint to initiate a new bank transfer.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferCreateResponse>> BankTransferCreateAsync(
                Models.BankTransferCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/bank_transfer/sweep/list` endpoint fetches information about the sweeps matching the given filters.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferSweepListResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferSweepListResponse> BankTransferSweepList(
                Models.BankTransferSweepListRequest body)
            => CoreHelper.RunTask(BankTransferSweepListAsync(body));

        /// <summary>
        /// The `/bank_transfer/sweep/list` endpoint fetches information about the sweeps matching the given filters.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferSweepListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferSweepListResponse>> BankTransferSweepListAsync(
                Models.BankTransferSweepListRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferSweepListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/sweep/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the `/bank_transfer/event/list` endpoint to get a list of bank transfer events based on specified filter criteria.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferEventListResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferEventListResponse> BankTransferEventList(
                Models.BankTransferEventListRequest body)
            => CoreHelper.RunTask(BankTransferEventListAsync(body));

        /// <summary>
        /// Use the `/bank_transfer/event/list` endpoint to get a list of bank transfer events based on specified filter criteria.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferEventListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferEventListResponse>> BankTransferEventListAsync(
                Models.BankTransferEventListRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferEventListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/event/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/bank_transfer/get` fetches information about the bank transfer corresponding to the given `bank_transfer_id`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferGetResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferGetResponse> BankTransferGet(
                Models.BankTransferGetRequest body)
            => CoreHelper.RunTask(BankTransferGetAsync(body));

        /// <summary>
        /// The `/bank_transfer/get` fetches information about the bank transfer corresponding to the given `bank_transfer_id`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferGetResponse>> BankTransferGetAsync(
                Models.BankTransferGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the `/bank_transfer/balance/get` endpoint to see the available balance in your bank transfer account. Debit transfers increase this balance once their status is posted. Credit transfers decrease this balance when they are created.
        /// The transactable balance shows the amount in your account that you are able to use for transfers, and is essentially your available balance minus your minimum balance.
        /// Note that this endpoint can only be used with FBO accounts, when using Bank Transfers in the Full Service configuration. It cannot be used on your own account when using Bank Transfers in the BTS Platform configuration.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BankTransferBalanceGetResponse response from the API call.</returns>
        public ApiResponse<Models.BankTransferBalanceGetResponse> BankTransferBalanceGet(
                Models.BankTransferBalanceGetRequest body)
            => CoreHelper.RunTask(BankTransferBalanceGetAsync(body));

        /// <summary>
        /// Use the `/bank_transfer/balance/get` endpoint to see the available balance in your bank transfer account. Debit transfers increase this balance once their status is posted. Credit transfers decrease this balance when they are created.
        /// The transactable balance shows the amount in your account that you are able to use for transfers, and is essentially your available balance minus your minimum balance.
        /// Note that this endpoint can only be used with FBO accounts, when using Bank Transfers in the Full Service configuration. It cannot be used on your own account when using Bank Transfers in the BTS Platform configuration.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BankTransferBalanceGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BankTransferBalanceGetResponse>> BankTransferBalanceGetAsync(
                Models.BankTransferBalanceGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BankTransferBalanceGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/bank_transfer/balance/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}