// <copyright file="DepositSwitchApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// DepositSwitchApi.
    /// </summary>
    public class DepositSwitchApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DepositSwitchApi"/> class.
        /// </summary>
        internal DepositSwitchApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This endpoint returns information related to how the user has configured their payroll allocation and the state of the switch. You can use this information to build logic related to the user's direct deposit allocation preferences.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.DepositSwitchGetResponse response from the API call.</returns>
        public ApiResponse<Models.DepositSwitchGetResponse> DepositSwitchGet(
                Models.DepositSwitchGetRequest body)
            => CoreHelper.RunTask(DepositSwitchGetAsync(body));

        /// <summary>
        /// This endpoint returns information related to how the user has configured their payroll allocation and the state of the switch. You can use this information to build logic related to the user's direct deposit allocation preferences.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DepositSwitchGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DepositSwitchGetResponse>> DepositSwitchGetAsync(
                Models.DepositSwitchGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DepositSwitchGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/deposit_switch/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint provides an alternative to `/deposit_switch/create` for customers who have not yet fully integrated with Plaid Exchange. Like `/deposit_switch/create`, it creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.DepositSwitchAltCreateResponse response from the API call.</returns>
        public ApiResponse<Models.DepositSwitchAltCreateResponse> DepositSwitchAltCreate(
                Models.DepositSwitchAltCreateRequest body)
            => CoreHelper.RunTask(DepositSwitchAltCreateAsync(body));

        /// <summary>
        /// This endpoint provides an alternative to `/deposit_switch/create` for customers who have not yet fully integrated with Plaid Exchange. Like `/deposit_switch/create`, it creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DepositSwitchAltCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DepositSwitchAltCreateResponse>> DepositSwitchAltCreateAsync(
                Models.DepositSwitchAltCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DepositSwitchAltCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/deposit_switch/alt/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.DepositSwitchCreateResponse response from the API call.</returns>
        public ApiResponse<Models.DepositSwitchCreateResponse> DepositSwitchCreate(
                Models.DepositSwitchCreateRequest body)
            => CoreHelper.RunTask(DepositSwitchCreateAsync(body));

        /// <summary>
        /// This endpoint creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DepositSwitchCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DepositSwitchCreateResponse>> DepositSwitchCreateAsync(
                Models.DepositSwitchCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DepositSwitchCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/deposit_switch/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// In order for the end user to take action, you will need to create a public token representing the deposit switch. This token is used to initialize Link. It can be used one time and expires after 30 minutes.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.DepositSwitchTokenCreateResponse response from the API call.</returns>
        public ApiResponse<Models.DepositSwitchTokenCreateResponse> DepositSwitchTokenCreate(
                Models.DepositSwitchTokenCreateRequest body)
            => CoreHelper.RunTask(DepositSwitchTokenCreateAsync(body));

        /// <summary>
        /// In order for the end user to take action, you will need to create a public token representing the deposit switch. This token is used to initialize Link. It can be used one time and expires after 30 minutes.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DepositSwitchTokenCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DepositSwitchTokenCreateResponse>> DepositSwitchTokenCreateAsync(
                Models.DepositSwitchTokenCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DepositSwitchTokenCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/deposit_switch/token/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}