// <copyright file="IncomeApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Exceptions;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// IncomeApi.
    /// </summary>
    public class IncomeApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="IncomeApi"/> class.
        /// </summary>
        internal IncomeApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// `/income/verification/taxforms/get` returns the information collected from taxforms that were used to verify an end user's. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationTaxformsGetResponse response from the API call.</returns>
        public ApiResponse<Models.IncomeVerificationTaxformsGetResponse> IncomeVerificationTaxformsGet(
                Models.IncomeVerificationTaxformsGetRequest body)
            => CoreHelper.RunTask(IncomeVerificationTaxformsGetAsync(body));

        /// <summary>
        /// `/income/verification/taxforms/get` returns the information collected from taxforms that were used to verify an end user's. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationTaxformsGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.IncomeVerificationTaxformsGetResponse>> IncomeVerificationTaxformsGetAsync(
                Models.IncomeVerificationTaxformsGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IncomeVerificationTaxformsGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/income/verification/taxforms/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// (Deprecated) Retrieve information from a single paystub used for income verification.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationPaystubGetResponse response from the API call.</returns>
        public ApiResponse<Models.IncomeVerificationPaystubGetResponse> IncomeVerificationPaystubGet(
                Models.IncomeVerificationPaystubGetRequest body)
            => CoreHelper.RunTask(IncomeVerificationPaystubGetAsync(body));

        /// <summary>
        /// (Deprecated) Retrieve information from a single paystub used for income verification.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationPaystubGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.IncomeVerificationPaystubGetResponse>> IncomeVerificationPaystubGetAsync(
                Models.IncomeVerificationPaystubGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IncomeVerificationPaystubGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/income/verification/paystub/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// `/income/verification/documents/download` provides the ability to download the source paystub PDF that the end user uploaded via Paystub Import.
        /// The response to `/income/verification/documents/download` is a ZIP file in binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.
        /// For Payroll Income, the most recent file available for download with the payroll provider will also be available from this endpoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of dynamic response from the API call.</returns>
        public ApiResponse<dynamic> IncomeVerificationDocumentsDownload(
                Models.IncomeVerificationDocumentsDownloadRequest body)
            => CoreHelper.RunTask(IncomeVerificationDocumentsDownloadAsync(body));

        /// <summary>
        /// `/income/verification/documents/download` provides the ability to download the source paystub PDF that the end user uploaded via Paystub Import.
        /// The response to `/income/verification/documents/download` is a ZIP file in binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.
        /// For Payroll Income, the most recent file available for download with the payroll provider will also be available from this endpoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of dynamic response from the API call.</returns>
        public async Task<ApiResponse<dynamic>> IncomeVerificationDocumentsDownloadAsync(
                Models.IncomeVerificationDocumentsDownloadRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<dynamic>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/income/verification/documents/download")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// `/income/verification/refresh` refreshes a given income verification.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationRefreshResponse response from the API call.</returns>
        public ApiResponse<Models.IncomeVerificationRefreshResponse> IncomeVerificationRefresh(
                Models.IncomeVerificationRefreshRequest body)
            => CoreHelper.RunTask(IncomeVerificationRefreshAsync(body));

        /// <summary>
        /// `/income/verification/refresh` refreshes a given income verification.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationRefreshResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.IncomeVerificationRefreshResponse>> IncomeVerificationRefreshAsync(
                Models.IncomeVerificationRefreshRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IncomeVerificationRefreshResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/income/verification/refresh")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response.", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// `/income/verification/paystubs/get` returns the information collected from the paystubs that were used to verify an end user's income. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationPaystubsGetResponse response from the API call.</returns>
        public ApiResponse<Models.IncomeVerificationPaystubsGetResponse> IncomeVerificationPaystubsGet(
                Models.IncomeVerificationPaystubsGetRequest body)
            => CoreHelper.RunTask(IncomeVerificationPaystubsGetAsync(body));

        /// <summary>
        /// `/income/verification/paystubs/get` returns the information collected from the paystubs that were used to verify an end user's income. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationPaystubsGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.IncomeVerificationPaystubsGetResponse>> IncomeVerificationPaystubsGetAsync(
                Models.IncomeVerificationPaystubsGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IncomeVerificationPaystubsGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/income/verification/paystubs/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// `/income/verification/precheck` returns whether a given user is supportable by the income product.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationPrecheckResponse response from the API call.</returns>
        public ApiResponse<Models.IncomeVerificationPrecheckResponse> IncomeVerificationPrecheck(
                Models.IncomeVerificationPrecheckRequest body)
            => CoreHelper.RunTask(IncomeVerificationPrecheckAsync(body));

        /// <summary>
        /// `/income/verification/precheck` returns whether a given user is supportable by the income product.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationPrecheckResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.IncomeVerificationPrecheckResponse>> IncomeVerificationPrecheckAsync(
                Models.IncomeVerificationPrecheckRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IncomeVerificationPrecheckResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/income/verification/precheck")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// `/income/verification/summary/get` returns a verification summary for the income that was verified for an end user. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationSummaryGetResponse response from the API call.</returns>
        public ApiResponse<Models.IncomeVerificationSummaryGetResponse> IncomeVerificationSummaryGet(
                Models.IncomeVerificationSummaryGetRequest body)
            => CoreHelper.RunTask(IncomeVerificationSummaryGetAsync(body));

        /// <summary>
        /// `/income/verification/summary/get` returns a verification summary for the income that was verified for an end user. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationSummaryGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.IncomeVerificationSummaryGetResponse>> IncomeVerificationSummaryGetAsync(
                Models.IncomeVerificationSummaryGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IncomeVerificationSummaryGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/income/verification/summary/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// `/income/verification/create` begins the income verification process by returning an `income_verification_id`. You can then provide the `income_verification_id` to `/link/token/create` under the `income_verification` parameter in order to create a Link instance that will prompt the user to go through the income verification flow. Plaid will fire an `INCOME` webhook once the user completes the Payroll Income flow, or when the uploaded documents in the Document Income flow have finished processing. .
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationCreateResponse response from the API call.</returns>
        public ApiResponse<Models.IncomeVerificationCreateResponse> IncomeVerificationCreate(
                Models.IncomeVerificationCreateRequest body)
            => CoreHelper.RunTask(IncomeVerificationCreateAsync(body));

        /// <summary>
        /// `/income/verification/create` begins the income verification process by returning an `income_verification_id`. You can then provide the `income_verification_id` to `/link/token/create` under the `income_verification` parameter in order to create a Link instance that will prompt the user to go through the income verification flow. Plaid will fire an `INCOME` webhook once the user completes the Payroll Income flow, or when the uploaded documents in the Document Income flow have finished processing. .
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.IncomeVerificationCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.IncomeVerificationCreateResponse>> IncomeVerificationCreateAsync(
                Models.IncomeVerificationCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.IncomeVerificationCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/income/verification/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}