// <copyright file="InstitutionsApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Exceptions;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// InstitutionsApi.
    /// </summary>
    public class InstitutionsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="InstitutionsApi"/> class.
        /// </summary>
        internal InstitutionsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a JSON response containing details on a specified financial institution currently supported by Plaid.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.InstitutionsGetByIdResponse response from the API call.</returns>
        public ApiResponse<Models.InstitutionsGetByIdResponse> InstitutionsGetById(
                Models.InstitutionsGetByIdRequest body)
            => CoreHelper.RunTask(InstitutionsGetByIdAsync(body));

        /// <summary>
        /// Returns a JSON response containing details on a specified financial institution currently supported by Plaid.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.InstitutionsGetByIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.InstitutionsGetByIdResponse>> InstitutionsGetByIdAsync(
                Models.InstitutionsGetByIdRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.InstitutionsGetByIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/institutions/get_by_id")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.
        /// If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.InstitutionsGetResponse response from the API call.</returns>
        public ApiResponse<Models.InstitutionsGetResponse> InstitutionsGet(
                Models.InstitutionsGetRequest body)
            => CoreHelper.RunTask(InstitutionsGetAsync(body));

        /// <summary>
        /// Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.
        /// If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.InstitutionsGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.InstitutionsGetResponse>> InstitutionsGetAsync(
                Models.InstitutionsGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.InstitutionsGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/institutions/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a JSON response containing details for institutions that match the query parameters, up to a maximum of ten institutions per query.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.InstitutionsSearchResponse response from the API call.</returns>
        public ApiResponse<Models.InstitutionsSearchResponse> InstitutionsSearch(
                Models.InstitutionsSearchRequest body)
            => CoreHelper.RunTask(InstitutionsSearchAsync(body));

        /// <summary>
        /// Returns a JSON response containing details for institutions that match the query parameters, up to a maximum of ten institutions per query.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.InstitutionsSearchResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.InstitutionsSearchResponse>> InstitutionsSearchAsync(
                Models.InstitutionsSearchRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.InstitutionsSearchResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/institutions/search")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}