// <copyright file="InvestmentsApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// InvestmentsApi.
    /// </summary>
    public class InvestmentsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="InvestmentsApi"/> class.
        /// </summary>
        internal InvestmentsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// The `/investments/transactions/get` endpoint allows developers to retrieve user-authorized transaction data for investment accounts.
        /// Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.
        /// Due to the potentially large number of investment transactions associated with an Item, results are paginated. Manipulate the count and offset parameters in conjunction with the `total_investment_transactions` response body field to fetch all available investment transactions.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.InvestmentsTransactionsGetResponse response from the API call.</returns>
        public ApiResponse<Models.InvestmentsTransactionsGetResponse> InvestmentsTransactionsGet(
                Models.InvestmentsTransactionsGetRequest body)
            => CoreHelper.RunTask(InvestmentsTransactionsGetAsync(body));

        /// <summary>
        /// The `/investments/transactions/get` endpoint allows developers to retrieve user-authorized transaction data for investment accounts.
        /// Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.
        /// Due to the potentially large number of investment transactions associated with an Item, results are paginated. Manipulate the count and offset parameters in conjunction with the `total_investment_transactions` response body field to fetch all available investment transactions.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.InvestmentsTransactionsGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.InvestmentsTransactionsGetResponse>> InvestmentsTransactionsGetAsync(
                Models.InvestmentsTransactionsGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.InvestmentsTransactionsGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/investments/transactions/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/investments/holdings/get` endpoint allows developers to receive user-authorized stock position data for `investment`-type accounts.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.InvestmentsHoldingsGetResponse response from the API call.</returns>
        public ApiResponse<Models.InvestmentsHoldingsGetResponse> InvestmentsHoldingsGet(
                Models.InvestmentsHoldingsGetRequest body)
            => CoreHelper.RunTask(InvestmentsHoldingsGetAsync(body));

        /// <summary>
        /// The `/investments/holdings/get` endpoint allows developers to receive user-authorized stock position data for `investment`-type accounts.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.InvestmentsHoldingsGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.InvestmentsHoldingsGetResponse>> InvestmentsHoldingsGetAsync(
                Models.InvestmentsHoldingsGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.InvestmentsHoldingsGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/investments/holdings/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}