// <copyright file="LinkApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// LinkApi.
    /// </summary>
    public class LinkApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="LinkApi"/> class.
        /// </summary>
        internal LinkApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// The `/link/token/get` endpoint gets information about a previously-created `link_token` using the.
        /// `/link/token/create` endpoint. It can be useful for debugging purposes.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.LinkTokenGetResponse response from the API call.</returns>
        public ApiResponse<Models.LinkTokenGetResponse> LinkTokenGet(
                Models.LinkTokenGetRequest body)
            => CoreHelper.RunTask(LinkTokenGetAsync(body));

        /// <summary>
        /// The `/link/token/get` endpoint gets information about a previously-created `link_token` using the.
        /// `/link/token/create` endpoint. It can be useful for debugging purposes.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.LinkTokenGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.LinkTokenGetResponse>> LinkTokenGetAsync(
                Models.LinkTokenGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.LinkTokenGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/link/token/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/link/token/create` endpoint creates a `link_token`, which is required as a parameter when initializing Link. Once Link has been initialized, it returns a `public_token`, which can then be exchanged for an `access_token` via `/item/public_token/exchange` as part of the main Link flow.
        /// A `link_token` generated by `/link/token/create` is also used to initialize other Link flows, such as the update mode flow for tokens with expired credentials, or the Payment Initiation (Europe) flow.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.LinkTokenCreateResponse response from the API call.</returns>
        public ApiResponse<Models.LinkTokenCreateResponse> LinkTokenCreate(
                Models.LinkTokenCreateRequest body)
            => CoreHelper.RunTask(LinkTokenCreateAsync(body));

        /// <summary>
        /// The `/link/token/create` endpoint creates a `link_token`, which is required as a parameter when initializing Link. Once Link has been initialized, it returns a `public_token`, which can then be exchanged for an `access_token` via `/item/public_token/exchange` as part of the main Link flow.
        /// A `link_token` generated by `/link/token/create` is also used to initialize other Link flows, such as the update mode flow for tokens with expired credentials, or the Payment Initiation (Europe) flow.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.LinkTokenCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.LinkTokenCreateResponse>> LinkTokenCreateAsync(
                Models.LinkTokenCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.LinkTokenCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/link/token/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}