// <copyright file="PaymentInitiationApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// PaymentInitiationApi.
    /// </summary>
    public class PaymentInitiationApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PaymentInitiationApi"/> class.
        /// </summary>
        internal PaymentInitiationApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Reverse a previously initiated payment.
        /// A payment can only be reversed once and will be refunded to the original sender's account.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentReverseResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentInitiationPaymentReverseResponse> PaymentInitiationPaymentReverse(
                Models.PaymentInitiationPaymentReverseRequest body)
            => CoreHelper.RunTask(PaymentInitiationPaymentReverseAsync(body));

        /// <summary>
        /// Reverse a previously initiated payment.
        /// A payment can only be reversed once and will be refunded to the original sender's account.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentReverseResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentInitiationPaymentReverseResponse>> PaymentInitiationPaymentReverseAsync(
                Models.PaymentInitiationPaymentReverseRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentInitiationPaymentReverseResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/payment_initiation/payment/reverse")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a payment recipient for payment initiation.  The recipient must be in Europe, within a country that is a member of the Single Euro Payment Area (SEPA).  For a standing order (recurring) payment, the recipient must be in the UK.
        /// The endpoint is idempotent: if a developer has already made a request with the same payment details, Plaid will return the same `recipient_id`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationRecipientCreateResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentInitiationRecipientCreateResponse> PaymentInitiationRecipientCreate(
                Models.PaymentInitiationRecipientCreateRequest body)
            => CoreHelper.RunTask(PaymentInitiationRecipientCreateAsync(body));

        /// <summary>
        /// Create a payment recipient for payment initiation.  The recipient must be in Europe, within a country that is a member of the Single Euro Payment Area (SEPA).  For a standing order (recurring) payment, the recipient must be in the UK.
        /// The endpoint is idempotent: if a developer has already made a request with the same payment details, Plaid will return the same `recipient_id`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationRecipientCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentInitiationRecipientCreateResponse>> PaymentInitiationRecipientCreateAsync(
                Models.PaymentInitiationRecipientCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentInitiationRecipientCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/payment_initiation/recipient/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/payment_initiation/recipient/list` endpoint list the payment recipients that you have previously created.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationRecipientListResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentInitiationRecipientListResponse> PaymentInitiationRecipientList(
                Models.PaymentInitiationRecipientListRequest body)
            => CoreHelper.RunTask(PaymentInitiationRecipientListAsync(body));

        /// <summary>
        /// The `/payment_initiation/recipient/list` endpoint list the payment recipients that you have previously created.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationRecipientListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentInitiationRecipientListResponse>> PaymentInitiationRecipientListAsync(
                Models.PaymentInitiationRecipientListRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentInitiationRecipientListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/payment_initiation/recipient/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Get details about a payment recipient you have previously created.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationRecipientGetResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentInitiationRecipientGetResponse> PaymentInitiationRecipientGet(
                Models.PaymentInitiationRecipientGetRequest body)
            => CoreHelper.RunTask(PaymentInitiationRecipientGetAsync(body));

        /// <summary>
        /// Get details about a payment recipient you have previously created.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationRecipientGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentInitiationRecipientGetResponse>> PaymentInitiationRecipientGetAsync(
                Models.PaymentInitiationRecipientGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentInitiationRecipientGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/payment_initiation/recipient/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// After creating a payment recipient, you can use the `/payment_initiation/payment/create` endpoint to create a payment to that recipient.  Payments can be one-time or standing order (recurring) and can be denominated in either EUR or GBP.  If making domestic GBP-denominated payments, your recipient must have been created with BACS numbers. In general, EUR-denominated payments will be sent via SEPA Credit Transfer and GBP-denominated payments will be sent via the Faster Payments network, but the payment network used will be determined by the institution. Payments sent via Faster Payments will typically arrive immediately, while payments sent via SEPA Credit Transfer will typically arrive in one business day.
        /// Standing orders (recurring payments) must be denominated in GBP and can only be sent to recipients in the UK. Once created, standing order payments cannot be modified or canceled via the API. An end user can cancel or modify a standing order directly on their banking application or website, or by contacting the bank. Standing orders will follow the payment rules of the underlying rails (Faster Payments in UK). Payments can be sent Monday to Friday, excluding bank holidays. If the pre-arranged date falls on a weekend or bank holiday, the payment is made on the next working day. It is not possible to guarantee the exact time the payment will reach the recipient’s account, although at least 90% of standing order payments are sent by 6am.
        /// In the Development environment, payments must be below 5 GBP / EUR. For details on any payment limits in Production, contact your Plaid Account Manager.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentCreateResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentInitiationPaymentCreateResponse> PaymentInitiationPaymentCreate(
                Models.PaymentInitiationPaymentCreateRequest body)
            => CoreHelper.RunTask(PaymentInitiationPaymentCreateAsync(body));

        /// <summary>
        /// After creating a payment recipient, you can use the `/payment_initiation/payment/create` endpoint to create a payment to that recipient.  Payments can be one-time or standing order (recurring) and can be denominated in either EUR or GBP.  If making domestic GBP-denominated payments, your recipient must have been created with BACS numbers. In general, EUR-denominated payments will be sent via SEPA Credit Transfer and GBP-denominated payments will be sent via the Faster Payments network, but the payment network used will be determined by the institution. Payments sent via Faster Payments will typically arrive immediately, while payments sent via SEPA Credit Transfer will typically arrive in one business day.
        /// Standing orders (recurring payments) must be denominated in GBP and can only be sent to recipients in the UK. Once created, standing order payments cannot be modified or canceled via the API. An end user can cancel or modify a standing order directly on their banking application or website, or by contacting the bank. Standing orders will follow the payment rules of the underlying rails (Faster Payments in UK). Payments can be sent Monday to Friday, excluding bank holidays. If the pre-arranged date falls on a weekend or bank holiday, the payment is made on the next working day. It is not possible to guarantee the exact time the payment will reach the recipient’s account, although at least 90% of standing order payments are sent by 6am.
        /// In the Development environment, payments must be below 5 GBP / EUR. For details on any payment limits in Production, contact your Plaid Account Manager.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentInitiationPaymentCreateResponse>> PaymentInitiationPaymentCreateAsync(
                Models.PaymentInitiationPaymentCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentInitiationPaymentCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/payment_initiation/payment/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/payment_initiation/payment/get` endpoint can be used to check the status of a payment, as well as to receive basic information such as recipient and payment amount. In the case of standing orders, the `/payment_initiation/payment/get` endpoint will provide information about the status of the overall standing order itself; the API cannot be used to retrieve payment status for individual payments within a standing order.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentGetResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentInitiationPaymentGetResponse> PaymentInitiationPaymentGet(
                Models.PaymentInitiationPaymentGetRequest body)
            => CoreHelper.RunTask(PaymentInitiationPaymentGetAsync(body));

        /// <summary>
        /// The `/payment_initiation/payment/get` endpoint can be used to check the status of a payment, as well as to receive basic information such as recipient and payment amount. In the case of standing orders, the `/payment_initiation/payment/get` endpoint will provide information about the status of the overall standing order itself; the API cannot be used to retrieve payment status for individual payments within a standing order.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentInitiationPaymentGetResponse>> PaymentInitiationPaymentGetAsync(
                Models.PaymentInitiationPaymentGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentInitiationPaymentGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/payment_initiation/payment/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/payment_initiation/payment/token/create` endpoint has been deprecated. New Plaid customers will be unable to use this endpoint, and existing customers are encouraged to migrate to the newer, `link_token`-based flow. The recommended flow is to provide the `payment_id` to `/link/token/create`, which returns a `link_token` used to initialize Link.
        /// The `/payment_initiation/payment/token/create` is used to create a `payment_token`, which can then be used in Link initialization to enter a payment initiation flow. You can only use a `payment_token` once. If this attempt fails, the end user aborts the flow, or the token expires, you will need to create a new payment token. Creating a new payment token does not require end user input.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentTokenCreateResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentInitiationPaymentTokenCreateResponse> CreatePaymentToken(
                Models.PaymentInitiationPaymentTokenCreateRequest body)
            => CoreHelper.RunTask(CreatePaymentTokenAsync(body));

        /// <summary>
        /// The `/payment_initiation/payment/token/create` endpoint has been deprecated. New Plaid customers will be unable to use this endpoint, and existing customers are encouraged to migrate to the newer, `link_token`-based flow. The recommended flow is to provide the `payment_id` to `/link/token/create`, which returns a `link_token` used to initialize Link.
        /// The `/payment_initiation/payment/token/create` is used to create a `payment_token`, which can then be used in Link initialization to enter a payment initiation flow. You can only use a `payment_token` once. If this attempt fails, the end user aborts the flow, or the token expires, you will need to create a new payment token. Creating a new payment token does not require end user input.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentTokenCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentInitiationPaymentTokenCreateResponse>> CreatePaymentTokenAsync(
                Models.PaymentInitiationPaymentTokenCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentInitiationPaymentTokenCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/payment_initiation/payment/token/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/payment_initiation/payment/list` endpoint can be used to retrieve all created payments. By default, the 10 most recent payments are returned. You can request more payments and paginate through the results using the optional `count` and `cursor` parameters.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentListResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentInitiationPaymentListResponse> PaymentInitiationPaymentList(
                Models.PaymentInitiationPaymentListRequest body)
            => CoreHelper.RunTask(PaymentInitiationPaymentListAsync(body));

        /// <summary>
        /// The `/payment_initiation/payment/list` endpoint can be used to retrieve all created payments. By default, the 10 most recent payments are returned. You can request more payments and paginate through the results using the optional `count` and `cursor` parameters.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentInitiationPaymentListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentInitiationPaymentListResponse>> PaymentInitiationPaymentListAsync(
                Models.PaymentInitiationPaymentListRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentInitiationPaymentListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/payment_initiation/payment/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}