// <copyright file="ProcessorApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Exceptions;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// ProcessorApi.
    /// </summary>
    public class ProcessorApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ProcessorApi"/> class.
        /// </summary>
        internal ProcessorApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Use the `/processor/bank_transfer/create` endpoint to initiate a new bank transfer as a processor.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProcessorBankTransferCreateResponse response from the API call.</returns>
        public ApiResponse<Models.ProcessorBankTransferCreateResponse> ProcessorBankTransferCreate(
                Models.ProcessorBankTransferCreateRequest body)
            => CoreHelper.RunTask(ProcessorBankTransferCreateAsync(body));

        /// <summary>
        /// Use the `/processor/bank_transfer/create` endpoint to initiate a new bank transfer as a processor.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProcessorBankTransferCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProcessorBankTransferCreateResponse>> ProcessorBankTransferCreateAsync(
                Models.ProcessorBankTransferCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProcessorBankTransferCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/processor/bank_transfer/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/processor/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints may return a balance object, only `/processor/balance/get` forces the available and current balance fields to be refreshed rather than cached. .
        /// </summary>
        /// <param name="body">Required parameter: The `/processor/balance/get` endpoint returns the real-time balance for the account associated with a given `processor_token`.  The current balance is the total amount of funds in the account. The available balance is the current balance less any outstanding holds or debits that have not yet posted to the account.  Note that not all institutions calculate the available balance. In the event that available balance is unavailable from the institution, Plaid will return an available balance value of `null`..</param>
        /// <returns>Returns the ApiResponse of Models.ProcessorBalanceGetResponse response from the API call.</returns>
        public ApiResponse<Models.ProcessorBalanceGetResponse> ProcessorBalanceGet(
                Models.ProcessorBalanceGetRequest body)
            => CoreHelper.RunTask(ProcessorBalanceGetAsync(body));

        /// <summary>
        /// The `/processor/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints may return a balance object, only `/processor/balance/get` forces the available and current balance fields to be refreshed rather than cached. .
        /// </summary>
        /// <param name="body">Required parameter: The `/processor/balance/get` endpoint returns the real-time balance for the account associated with a given `processor_token`.  The current balance is the total amount of funds in the account. The available balance is the current balance less any outstanding holds or debits that have not yet posted to the account.  Note that not all institutions calculate the available balance. In the event that available balance is unavailable from the institution, Plaid will return an available balance value of `null`..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProcessorBalanceGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProcessorBalanceGetResponse>> ProcessorBalanceGetAsync(
                Models.ProcessorBalanceGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProcessorBalanceGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/processor/balance/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/processor/auth/get` endpoint returns the bank account and bank identification number (such as the routing number, for US accounts), for a checking or savings account that's associated with a given `processor_token`. The endpoint also returns high-level account data and balances when available.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProcessorAuthGetResponse response from the API call.</returns>
        public ApiResponse<Models.ProcessorAuthGetResponse> ProcessorAuthGet(
                Models.ProcessorAuthGetRequest body)
            => CoreHelper.RunTask(ProcessorAuthGetAsync(body));

        /// <summary>
        /// The `/processor/auth/get` endpoint returns the bank account and bank identification number (such as the routing number, for US accounts), for a checking or savings account that's associated with a given `processor_token`. The endpoint also returns high-level account data and balances when available.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProcessorAuthGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProcessorAuthGetResponse>> ProcessorAuthGetAsync(
                Models.ProcessorAuthGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProcessorAuthGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/processor/auth/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/processor/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProcessorIdentityGetResponse response from the API call.</returns>
        public ApiResponse<Models.ProcessorIdentityGetResponse> ProcessorIdentityGet(
                Models.ProcessorIdentityGetRequest body)
            => CoreHelper.RunTask(ProcessorIdentityGetAsync(body));

        /// <summary>
        /// The `/processor/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProcessorIdentityGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProcessorIdentityGetResponse>> ProcessorIdentityGetAsync(
                Models.ProcessorIdentityGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProcessorIdentityGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/processor/identity/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Used to create a token suitable for sending to Apex to enable Plaid-Apex integrations.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProcessorTokenCreateResponse response from the API call.</returns>
        public ApiResponse<Models.ProcessorTokenCreateResponse> ProcessorApexProcessorTokenCreate(
                Models.ProcessorApexProcessorTokenCreateRequest body)
            => CoreHelper.RunTask(ProcessorApexProcessorTokenCreateAsync(body));

        /// <summary>
        /// Used to create a token suitable for sending to Apex to enable Plaid-Apex integrations.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProcessorTokenCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProcessorTokenCreateResponse>> ProcessorApexProcessorTokenCreateAsync(
                Models.ProcessorApexProcessorTokenCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProcessorTokenCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/processor/apex/processor_token/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Used to create a token suitable for sending to one of Plaid's partners to enable integrations. Note that Stripe partnerships use bank account tokens instead; see `/processor/stripe/bank_account_token/create` for creating tokens for use with Stripe integrations.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProcessorTokenCreateResponse response from the API call.</returns>
        public ApiResponse<Models.ProcessorTokenCreateResponse> ProcessorTokenCreate(
                Models.ProcessorTokenCreateRequest body)
            => CoreHelper.RunTask(ProcessorTokenCreateAsync(body));

        /// <summary>
        /// Used to create a token suitable for sending to one of Plaid's partners to enable integrations. Note that Stripe partnerships use bank account tokens instead; see `/processor/stripe/bank_account_token/create` for creating tokens for use with Stripe integrations.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProcessorTokenCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProcessorTokenCreateResponse>> ProcessorTokenCreateAsync(
                Models.ProcessorTokenCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProcessorTokenCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/processor/token/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Used to create a token suitable for sending to Stripe to enable Plaid-Stripe integrations. For a detailed guide on integrating Stripe, see [Add Stripe to your app](https://plaid.com/docs/auth/partnerships/stripe/).
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProcessorStripeBankAccountTokenCreateResponse response from the API call.</returns>
        public ApiResponse<Models.ProcessorStripeBankAccountTokenCreateResponse> ProcessorStripeBankAccountTokenCreate(
                Models.ProcessorStripeBankAccountTokenCreateRequest body)
            => CoreHelper.RunTask(ProcessorStripeBankAccountTokenCreateAsync(body));

        /// <summary>
        /// Used to create a token suitable for sending to Stripe to enable Plaid-Stripe integrations. For a detailed guide on integrating Stripe, see [Add Stripe to your app](https://plaid.com/docs/auth/partnerships/stripe/).
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProcessorStripeBankAccountTokenCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProcessorStripeBankAccountTokenCreateResponse>> ProcessorStripeBankAccountTokenCreateAsync(
                Models.ProcessorStripeBankAccountTokenCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProcessorStripeBankAccountTokenCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/processor/stripe/bank_account_token/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}