// <copyright file="TransferApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Exceptions;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// TransferApi.
    /// </summary>
    public class TransferApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TransferApi"/> class.
        /// </summary>
        internal TransferApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// `/transfer/event/sync` allows you to request up to the next 25 transfer events that happened after a specific `event_id`. Use the `/transfer/event/sync` endpoint to guarantee you have seen all transfer events.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransferEventSyncResponse response from the API call.</returns>
        public ApiResponse<Models.TransferEventSyncResponse> TransferEventSync(
                Models.TransferEventSyncRequest body)
            => CoreHelper.RunTask(TransferEventSyncAsync(body));

        /// <summary>
        /// `/transfer/event/sync` allows you to request up to the next 25 transfer events that happened after a specific `event_id`. Use the `/transfer/event/sync` endpoint to guarantee you have seen all transfer events.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransferEventSyncResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TransferEventSyncResponse>> TransferEventSyncAsync(
                Models.TransferEventSyncRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransferEventSyncResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transfer/event/sync")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the `/transfer/list` endpoint to see a list of all your transfers and their statuses. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired transfers.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransferListResponse response from the API call.</returns>
        public ApiResponse<Models.TransferListResponse> TransferList(
                Models.TransferListRequest body)
            => CoreHelper.RunTask(TransferListAsync(body));

        /// <summary>
        /// Use the `/transfer/list` endpoint to see a list of all your transfers and their statuses. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired transfers.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransferListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TransferListResponse>> TransferListAsync(
                Models.TransferListRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransferListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transfer/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// The `/transfer/get` fetches information about the transfer corresponding to the given `transfer_id`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransferGetResponse response from the API call.</returns>
        public ApiResponse<Models.TransferGetResponse> TransferGet(
                Models.TransferGetRequest body)
            => CoreHelper.RunTask(TransferGetAsync(body));

        /// <summary>
        /// The `/transfer/get` fetches information about the transfer corresponding to the given `transfer_id`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransferGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TransferGetResponse>> TransferGetAsync(
                Models.TransferGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransferGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transfer/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the `/transfer/cancel` endpoint to cancel a transfer.  A transfer is eligible for cancelation if the `cancellable` property returned by `/transfer/get` is `true`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransferCancelResponse response from the API call.</returns>
        public ApiResponse<Models.TransferCancelResponse> TransferCancel(
                Models.TransferCancelRequest body)
            => CoreHelper.RunTask(TransferCancelAsync(body));

        /// <summary>
        /// Use the `/transfer/cancel` endpoint to cancel a transfer.  A transfer is eligible for cancelation if the `cancellable` property returned by `/transfer/get` is `true`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransferCancelResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TransferCancelResponse>> TransferCancelAsync(
                Models.TransferCancelRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransferCancelResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transfer/cancel")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the `/transfer/create` endpoint to initiate a new transfer.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransferCreateResponse response from the API call.</returns>
        public ApiResponse<Models.TransferCreateResponse> TransferCreate(
                Models.TransferCreateRequest body)
            => CoreHelper.RunTask(TransferCreateAsync(body));

        /// <summary>
        /// Use the `/transfer/create` endpoint to initiate a new transfer.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransferCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TransferCreateResponse>> TransferCreateAsync(
                Models.TransferCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransferCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transfer/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the `/transfer/authorization/create` endpoint to determine transfer failure risk.
        /// In Plaid's sandbox environment the decisions will be returned as follows:.
        ///   - To approve a transfer, make an authorization request with an `amount` less than the available balance in the account.
        ///   - To decline a transfer with the rationale code `NSF`, the available balance on the account must be less than the authorization `amount`. See [Create Sandbox test data](https://plaid.com/docs/sandbox/user-custom/) for details on how to customize data in Sandbox.
        ///   - To decline a transfer with the rationale code `RISK`, the available balance on the account must be exactly $0. See [Create Sandbox test data](https://plaid.com/docs/sandbox/user-custom/) for details on how to customize data in Sandbox.
        ///   - To permit a transfer with the rationale code `MANUALLY_VERIFIED_ITEM`, create an Item in Link through the [Same Day Micro-deposits flow](https://plaid.com/docs/auth/coverage/testing/#testing-same-day-micro-deposits).
        ///   - To permit a transfer with the rationale code `LOGIN_REQUIRED`, [reset the login for an Item](https://plaid.com/docs/sandbox/#item_login_required).
        /// All username/password combinations other than the ones listed above will result in a decision of permitted and rationale code `ERROR`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransferAuthorizationCreateResponse response from the API call.</returns>
        public ApiResponse<Models.TransferAuthorizationCreateResponse> TransferAuthorizationCreate(
                Models.TransferAuthorizationCreateRequest body)
            => CoreHelper.RunTask(TransferAuthorizationCreateAsync(body));

        /// <summary>
        /// Use the `/transfer/authorization/create` endpoint to determine transfer failure risk.
        /// In Plaid's sandbox environment the decisions will be returned as follows:.
        ///   - To approve a transfer, make an authorization request with an `amount` less than the available balance in the account.
        ///   - To decline a transfer with the rationale code `NSF`, the available balance on the account must be less than the authorization `amount`. See [Create Sandbox test data](https://plaid.com/docs/sandbox/user-custom/) for details on how to customize data in Sandbox.
        ///   - To decline a transfer with the rationale code `RISK`, the available balance on the account must be exactly $0. See [Create Sandbox test data](https://plaid.com/docs/sandbox/user-custom/) for details on how to customize data in Sandbox.
        ///   - To permit a transfer with the rationale code `MANUALLY_VERIFIED_ITEM`, create an Item in Link through the [Same Day Micro-deposits flow](https://plaid.com/docs/auth/coverage/testing/#testing-same-day-micro-deposits).
        ///   - To permit a transfer with the rationale code `LOGIN_REQUIRED`, [reset the login for an Item](https://plaid.com/docs/sandbox/#item_login_required).
        /// All username/password combinations other than the ones listed above will result in a decision of permitted and rationale code `ERROR`.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransferAuthorizationCreateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TransferAuthorizationCreateResponse>> TransferAuthorizationCreateAsync(
                Models.TransferAuthorizationCreateRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransferAuthorizationCreateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transfer/authorization/create")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the `/transfer/event/list` endpoint to get a list of transfer events based on specified filter criteria.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.TransferEventListResponse response from the API call.</returns>
        public ApiResponse<Models.TransferEventListResponse> TransferEventList(
                Models.TransferEventListRequest body)
            => CoreHelper.RunTask(TransferEventListAsync(body));

        /// <summary>
        /// Use the `/transfer/event/list` endpoint to get a list of transfer events based on specified filter criteria.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.TransferEventListResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.TransferEventListResponse>> TransferEventListAsync(
                Models.TransferEventListRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransferEventListResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transfer/event/list")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("Error response", (errorReason, context) => new ErrorErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}