// <copyright file="WebhookVerificationKeyApi.cs" company="APIMatic">
// Plaid.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using Plaid.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace Plaid.Standard.Apis
{
    /// <summary>
    /// WebhookVerificationKeyApi.
    /// </summary>
    public class WebhookVerificationKeyApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="WebhookVerificationKeyApi"/> class.
        /// </summary>
        internal WebhookVerificationKeyApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Plaid signs all outgoing webhooks and provides JSON Web Tokens (JWTs) so that you can verify the authenticity of any incoming webhooks to your application. A message signature is included in the `Plaid-Verification` header.
        /// The `/webhook_verification_key/get` endpoint provides a JSON Web Key (JWK) that can be used to verify a JWT.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.WebhookVerificationKeyGetResponse response from the API call.</returns>
        public ApiResponse<Models.WebhookVerificationKeyGetResponse> WebhookVerificationKeyGet(
                Models.WebhookVerificationKeyGetRequest body)
            => CoreHelper.RunTask(WebhookVerificationKeyGetAsync(body));

        /// <summary>
        /// Plaid signs all outgoing webhooks and provides JSON Web Tokens (JWTs) so that you can verify the authenticity of any incoming webhooks to your application. A message signature is included in the `Plaid-Verification` header.
        /// The `/webhook_verification_key/get` endpoint provides a JSON Web Key (JWK) that can be used to verify a JWT.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.WebhookVerificationKeyGetResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.WebhookVerificationKeyGetResponse>> WebhookVerificationKeyGetAsync(
                Models.WebhookVerificationKeyGetRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.WebhookVerificationKeyGetResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/webhook_verification_key/get")
                  .WithAndAuth(andAuth => andAuth
                      .Add("PLAID-CLIENT-ID")
                      .Add("PLAID-SECRET")
                      .Add("Plaid-Version")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}